<%- include('partials/header'); -%>

  <header>
    <div class="burger">
      <img src="/img/burger.png" alt="">
    </div>
    <div class="headings">
      <h2>BG FOODS</h2>
      <h3>BG TECH</h3>
      <% if(user){ %> <a href="/make-order" class="btn">Create Order</a>
        <%} else {%>
          <p>Login or Signup to Access Menu</p>
          <%}%>
    </div>
  </header>


  <%- include('partials/footer'); -%>