<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BG FOODS</title>
    <link rel="shortcut icon" type="image/png" href="/img/burger.png">
    <link rel="stylesheet" href="/css/styles2.css">
</head>
<body>
    <nav>
        <div id="nav-img"><img id="bg-img" src="/img/babba.png" alt="babbangona-logo"></div>
              
        <ul>
            <li><a href="http://localhost:3003/login">Login</a></li>
            <li><a href="/Signup">Sign up</a></li>
          </ul>
  
      </nav>
      <div id="space"></div>
    <header>
        <div class="headings">
          <h2>BG FOODS</h2>
          <p>A one stop shop to get all your orders delivered to your workspace...</p>
        </div>
    
      </header>

      <div id="container">
        <div class="card" style="width: 18rem;">
            <img src="/img/kilimanjaro.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Kilimanjaro</h5>

            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="/img/Chicken.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Chicken Republic</h5>

            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="/img/tantalizer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Green Mountains</h5>

            </div>
          </div>
      </div>

      <div id="footer">
          <div><p>&copy 2022</p></div>
          <div><p>BG Foods is a registered trademark</p></div>
      </div>
</body>
</html>


