<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BG FOODS</title>
  <link rel="shortcut icon" type="image/png" href="/img/burger.png">
  <style>
    /* google fonts */
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

    * {
      margin: 0;
      padding: 0;
    }

    body,
    html {
      min-height: 100%;
    }

    body {
      color: white;
      background: url('/img/flat.jpg') center no-repeat;
      background-size: cover;
      background-color: #000;
    }

    h1,
    h2,
    h3,
    h4,
    ul,
    a,
    p,
    input,
    select,
    label,
    button,
    div,
    footer {
      font-family: 'Quicksand', sans-serif;
    }

    li {
      color: black;
    }

    ul {
      list-style-type: none;
    }

    a {
      text-decoration: none;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #ffd;
    }

    nav ul {
      display: flex;
      align-items: center;
    }

    nav li {
      margin-left: 20px;
    }

    nav li a {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.8em;
      display: block;
      padding: 10px 16px;
      letter-spacing: 2px;
    }

    .btn {
      border-radius: 36px;
      background: #FEE996;
    }

    button {
      margin-top: 30px;
      border-radius: 36px;
      background: #FEE996;
      border: 0;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.8em;
      display: block;
      padding: 10px 16px;
      letter-spacing: 2px;
    }

    header {
      align-items: center;
      text-align: center;
    }

    header img {
      width: 250px;
      margin-right: 40px;
    }

    header h2 {
      font-size: 3em;
      margin-bottom: 10px;
    }

    header h3 {
      font-size: 1.6em;
      margin-bottom: 10px;
      margin-left: 2px;
      color: #999;
    }

    header .btn {
      margin-top: 20px;
      padding: 12px 18px;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
      font-size: 0.8em;
    }

    #container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: rgba(228, 184, 22, 0.3);
      margin: 0 20px;
    }

    .card {
      width: 30%;
      padding: 10px;
    }

    #bg-img {
      width: 100px;
      height: 2rem;
      padding: 0;
      margin: 0;

    }

    .card-img-top {
      width: 100%;
      max-height: 400px;
      min-height: 350px;
    }

    .headings p {
      font-size: 20px;
      font-style: italic;
    }

    .btn {
      margin-top: 20px;
      padding: 12px 18px;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
      font-size: 0.8em;
    }

    .btn-primary {
      margin-left: auto;
    }

    #footer {
      position: fixed;
      bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: white;
      padding: 5px 10px;
      border: solid;
      width: 100%;
      color: black;
    }

    #footer>div:nth-child(2) {
      padding-right: 20px;
    }
  </style>
</head>

<body>
  <nav>
    <div id="nav-img"><img id="bg-img" src="/img/babba.png" alt="babbangona-logo"></div>

    <ul>
      <li><a href="http://localhost:3003/login">Login</a></li>
      <li><a href="/Signup">Sign up</a></li>
    </ul>

  </nav>
  <div id="space"></div>
  <header>
    <div class="headings">
      <h2>BG FOODS</h2>
      <p>A one stop shop to get all your orders delivered to your workspace...</p>
    </div>

  </header>

  <div id="container">
    <div class="card" style="width: 18rem;">
      <img src="/img/kilimanjaro.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Kilimanjaro</h5>

      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/img/Chicken.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chicken Republic</h5>

      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/img/tantalizer.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Green Mountains</h5>

      </div>
    </div>
  </div>

  <div id="footer">
    <div>
      <p>&copy 2022</p>
    </div>
    <div>
      <p>BG Foods is a registered trademark</p>
    </div>
  </div>
</body>

</html>